<header>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <h3>ZenduForms</h3>
            </div>
            <nav>
                <div class="menu">
                    <div class="menu-item" routerLinkActive="active">
                        <mat-icon svgIcon="menu-list"></mat-icon>
                        <span>Forms</span>
                    </div>
                    <div class="menu-item" routerLinkActive="active">
                        <mat-icon svgIcon="people"></mat-icon>
                        <span>Customers</span>
                    </div>
                    <div class="menu-item" routerLinkActive="active" routerLink="submissions">
                        <mat-icon svgIcon="graphic_eq"></mat-icon>
                        <span>Submissions</span>
                    </div>
                    <div class="menu-item" routerLinkActive="active">
                        <mat-icon svgIcon="history"></mat-icon>
                        <span>History</span>
                    </div>
                    <div class="menu-item" routerLinkActive="active">
                        <mat-icon svgIcon="chart"></mat-icon>
                        <span>Reports</span>
                    </div>
                    <div class="menu-item" routerLinkActive="active">
                        <mat-icon svgIcon="chart"></mat-icon>
                        <span>Workflow</span>
                    </div>
                </div>
                <div class="tools">
                    <button class="btn btn-light">
                        <mat-icon svgIcon="notify"></mat-icon>
                    </button>
                    <button class="btn btn-light">
                        <mat-icon svgIcon="logout"></mat-icon>
                    </button>
                </div>
            </nav>
        </div>
    </div>
</header>